body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
  background-image: url(Image/toDo_app-background.jpg);
  background-size: cover;
  color: plum;
  font-size: 18px;
  justify-content: center;
  font-weight: bold;
}

.container {
  max-width: 800px;
}

h1 {
  text-align: center;
  font-size: 400%;
  letter-spacing: 1px;
  font-weight: 600;
  text-shadow: 1px 1px 10px #000;
  color: plum;
  padding-top: 0;
  margin-left: 50px;
  margin-right: 50px;
}

.taskCount {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.taskRow {
  margin-bottom: 20px;
}

.btn {
  color: plum;
  font-size: 30px;
  font-weight: bold;
}

/*Media Queries*/

/*tablets*/
@media only screen and (max-width: 768px) {
  .input-group {
    margin-bottom: 20px;
  }
}

/*mobiles*/
@media only screen and (max-width: 576px) {
  .input-group {
    margin-bottom: 20px;
  }
}
